manual.nii.gz filter=lfs diff=lfs merge=lfs -text
CenterlineComputationModel.vtk filter=lfs diff=lfs merge=lfs -text
liver.nii.gz filter=lfs diff=lfs merge=lfs -text
auto.nii.gz filter=lfs diff=lfs merge=lfs -text
regressiontest.nii.gz filter=lfs diff=lfs merge=lfs -text
manualthinvessel.nii.gz filter=lfs diff=lfs merge=lfs -text
otsucomp.nii.gz filter=lfs diff=lfs merge=lfs -text
inflow.vtk filter=lfs diff=lfs merge=lfs -text
outflow.vtk filter=lfs diff=lfs merge=lfs -text
